@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
    margin-bottom: 15px;
    margin-left: 136px;
}

p {
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.6;
    width: 540px;
    margin-bottom: 15px;
    margin-left: 136px;
    margin-right: 131px;
}

button {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border:none;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 136px;
}

a{
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    cursor: pointer;
    margin-right: 41px;
}

.work {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.4;
}

header {
    margin-top: 24px;
    margin-bottom: 216px;
    position: relative;
    left: 70px;
}

img {
    position: relative;
    right: 130px;
}

.section-1 {
    display: inline-block;
}

.section-2 {
    display: inline-block;
    width: 57%;
    height: 950px;
    background-color: rgba(93, 93, 125, 0.16);
    mix-blend-mode: normal;
}

button:hover {
    opacity: 0.5;
    color: #000000;
    font-size: 30px;
}

button:active {
    opacity: 0.8;
    color: #FFFFFF;
}

a:hover {
    opacity: 0.5;
    font-size: 35px;
}

a:active {
    opacity: 0.8;
    color: #FFFFFF;
}

@media screen and (max-width: 900px){
    .section-1 {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        display: block;
    }

    .section-2 {
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        right: auto;
        left: auto;
        top: 90px;
        padding: 40px;
    }

    header {
        display: none;
    }

    img {
        max-width: 90%;
        position: relative;
        left: auto;
        right: auto;
        top: 20px;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        width: 235px;
        margin: 58px auto 15px auto;
        text-align: center;
    }

    p {
        margin-left: auto;
        margin-right: auto;
        width: 231px;
        height: 98px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }   
}


